.container {
    display: flex;
    padding: 5%;
    padding-top: 0%;
}

.contactfrom {
    padding-left: 3%;
}

.frame {
    border-radius: 10px;
}

#head {
    font-size: 60px;
    align-items: center;
    color: rgba(128, 128, 128, 0.247);
    -webkit-text-stroke: 1px aquamarine;
}

#contactmsg {
    margin: 4%;
    text-align: justify;
}

form {
    height: 100%;
    width: 100%;
}

label {
    transform: scale(0.9) translateX(5px);
    margin-top: -0.8%;
    position: absolute;
    background-color:  #1f2833;
    border-radius: 2%;
    border-color: aquamarine;
}

input {
    height: 9%;
    width: 80%;
    margin-bottom: 5%;
    background-color: transparent;
    border-radius: 6px;
    border-color: aquamarine;
    color:orange;
    font-size: large;
}


textarea {
    margin: 1%;
    background-color: transparent;
    color: orange;
    width: 80%;
    height: 40%;
    resize: none;
    border-radius: 8px ;
    border-color:  aquamarine;
    font-size: larger;
}


#submit {
    margin: 1%;
    height: 8%;
    width: 80%;
    background-color: transparent;
    border-radius: 6px;
    color: aquamarine;
    border-color: aquamarine;
    border-radius: 4px;
    cursor: pointer;
}
#submit:hover{
    transform: scale(1.1) translateX(2px);
}