.container {
    display: flex;
    padding: 5%;
    padding-top: 0%;
}

.contactfrom {
    padding-left: 3%;
}

.frame {
    border-radius: 10px;
}

#head {
    font-size: 60px;
    align-items: center;
    color: rgba(128, 128, 128, 0.247);
    -webkit-text-stroke: 1px aquamarine;
}

#contactmsg {
    margin: 4%;
    text-align: justify;
}

form {
    height: 100%;
    width: 100%;
}

label {
    position: absolute;
    background-color: black;
}

input {
    height: 6%;
    margin: 1.5%;
    background-color: transparent;
    border-radius: 6px;
    border-color: aliceblue;
    color: rgb(122, 156, 185);
}

textarea {
    margin: 1%;
    background-color: transparent;
    color: rgb(122, 156, 185);
    width: 80%;
    height: 40%;
    resize: none;
    border-radius: 4px;
    border-color: aliceblue;
}

#submit {
    margin: 1%;
    height: 8%;
    width: 80%;
    background-color: transparent;
    border-radius: 6px;
    color: aquamarine;
    border-color: aquamarine;
    border-radius: 4px;
    cursor: pointer;
}