.container {
  margin: 8%;
  display: flex;
}

#main-about {
  text-align: justify;
}

#main-a {
  width: 59%;
  margin-bottom: 3%;
  color: rgb(182, 179, 179);
  font-size: larger;
}

#aboutspan {
  color: aquamarine;
  padding-left: 1%;
  padding-right: 1%;
}

#aboutspan:hover {
  border-bottom: 1px solid aquamarine;
}

h1 {
  margin-bottom: 7%;
}

#web {
  text-decoration: none;
  color: aquamarine;
  cursor: pointer;
}

#web:hover {
  border-bottom: 1px solid aquamarine;
}

.listabout {
  list-style: none;
  padding-left: 20px;
  font-size: larger;
  color: rgb(182, 179, 179);
}

.listabout li::before {
  content: '\21FE';
  display: inline-block;
  margin-right: 2%;
  color: aquamarine;
}


#hrtag {
  color: rgb(33, 147, 147);
}

.listabout{
  color: orange;
}



.imgdiv {
  margin-right: 3%;
  position: relative;
  display: flex;
  height: 30%;
  width: 50%;
  margin-top: 10%;
}

.img-container {
  position: relative;
  z-index: 1;
}

.img-about {
  width: 100%;
  transition:  0.3s ease-out;
  border-radius: 15px;
}

.hover-overlay {
  position: absolute;
  margin-left: 3%;
  margin-top: 6%;
  width: 100%; 
  height: 98%;
  background-color: transparent;
  border: 2px solid transparent;
  transition:  0.3s ease-in;
  border-radius: 15px;
  border: 2px solid aquamarine;
}

.imgdiv:hover .hover-overlay {
  border: 2px solid aquamarine;
  transform: scale(1) translateX(5px);
}

.imgdiv:hover .img-about {
  transform: scale(1) translateX(-5px);
  z-index: 0;
}
